div{
  width: 100px;
  height: 100px;
  border: 1px solid red;
  border-radius: 100%;
  background-image: url("../cat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.c1{
  border: 5px solid red;
  border-radius: 100%;
}
.c2{
  border: 5px dotted red;
  border-radius: 100%;
}
.c3{
  border: 5px dashed red;
  border-radius: 100%;
}
.c4{
  border: 5px groove red;
  border-radius: 100%;
}
